@use "../custom" as custom;
@use "../components/mixins" as mixins;

.intro-section {
  @include mixins.gradient;
  padding-top: 10rem;
  @include custom.media-breakpoint-down(xl) {
    padding-top: 6rem;
  }
  width: 100%;
  height: 100%;
}

.intros {
  .video-box {
    position: relative;
    a {
      // @include mixins.absoluteCenter;
      span {
        i {
          font-size: 6rem;
          color: custom.$secondary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.5rem solid custom.$white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}
