@use "../custom" as custom;
@use "../components/mixins" as mixins;
.menu {
  @include mixins.gradient;
  li {
    padding: 0 0.7rem;
    a {
      color: custom.$white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  .btn-rounded {
    @include custom.media-breakpoint-down(xl) {
      display: none;
    }
  }
}
